/* index.css */
.object-bottom {
  object-position: bottom;
}

.object-top {
  object-position: top;
}

.object-position-20-top {
  object-position: 20% 20%;
}

.object-position-10-top {
  object-position: 50% 10%;
}